{% load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <title>Instagram</title>
</head>
<body>
    {% for post in posts %}
        <div class="container">
            <div class="header">
                <h3>{{post.user}}</h3>
            </div>
            <div class="img">
                <img src=https://picsum.photos/id/{{post.id}}/300/300 width=300, height="300">
            </div>
            <div class="like-{{post.id}}" onclick="onClickLike({{post.id}}, 'like')">
                <i class="far fa-heart"></i> <span>{{post.like}}</span>
            </div>
            <div class="dislike-{{post.id}}" onclick="onClickLike({{post.id}}, 'dislike')" style="display: none">
                <i class="fas fa-heart"></i> <span>{{post.like}}</span>
            </div>
            <div class="comment">
                {{post.content}}
            </div>
        </div>
    {% endfor %}

    <script>
        const requestLike = new XMLHttpRequest();

        const onClickLike = (id, type) => {
            const url = "/like/";
            requestLike.open("POST", url, true);
            requestLike.setRequestHeader(
                "Content-Type",
                "application/x-www-form-urlencoded"
            );
            requestLike.send(JSON.stringify({id: id, type: type}))
        }

        const likeHandleResponse = () => {
            if (requestLike.status < 400){
                const {id, type} = JSON.parse(requestLike.response);
                
                // 숫자 바꾸기
                const element = document.querySelector(`.like-${id} span`)
                const originHTML = element.innerHTML;
                const count = Number(originHTML) + 1;
                
                const element2 = document.querySelector(`.dislike-${id} span`)
                const originHTML2 = element2.innerHTML;
                const count2 = Number(originHTML2) + 1;
                
                // ♡ -> ♥ 
                const emptyHeart = document.querySelector(`.like-${id}`)
                emptyHeart.setAttribute('style', 'display:none')
                
                const fullHeart = document.querySelector(`.dislike-${id}`)
                fullHeart.setAttribute('style', 'display:block')
                

                element.innerHTML = `${count}`
                element2.innerHTML = `${count2}`
            }
        }

        const dislikeHandleResponse = () => {
            if (requestLike.status < 400){
                const {id, type} = JSON.parse(requestLike.response);
                
                // 숫자 바꾸기
                const element = document.querySelector(`.like-${id} span`)
                const originHTML = element.innerHTML;
                const count = Number(originHTML) - 1;
                
                const element2 = document.querySelector(`.dislike-${id} span`)
                const originHTML2 = element2.innerHTML;
                const count2 = Number(originHTML2) - 1;

                // ♥ -> ♡ 
                const emptyHeart = document.querySelector(`.like-${id}`)
                emptyHeart.setAttribute('style', 'display:block')
                
                const fullHeart = document.querySelector(`.dislike-${id}`)
                fullHeart.setAttribute('style', 'display: none')

                element.innerHTML = `${count}`
                element2.innerHTML = `${count2}`

            }
        }
        

        requestLike.onreadystatechange = () => {
            if (requestLike.readyState === XMLHttpRequest.DONE){
                const {id, type} = JSON.parse(requestLike.response);

                if (type == 'like'){
                    likeHandleResponse();
                }
                else{
                    dislikeHandleResponse();
                }
            }
        }
    </script>    
</body>
</html>