#header-center{
    margin: 0 auto;
    width: 1080px;
}
/* div만 tag를 생략가능 */

/* 자식 */
div#header-search > h1 {
    width: 280px;
    display: inline-block;
}
/* 자손
#header-center h1 {

} */

#header-search h2 {
    display: none;
}

#header-search fieldset{
    width: 520px;
    display: inline-block;
}