* {
    box-sizing: border-box;
    /*content + padding + border를 기준으로 계산 */
}

#header-center{
    margin: 0 auto;
    width: 1080px;
}
/* div만 tag를 생략가능 */

/* 자식 */
div#header-search  h1 {
    width: 198px;
    height: 48px;
    display: inline-block;
    background-image: url(./logo.png);
    background-position: 1px, 0px;
    background-repeat: no-repeat;
    background-size: cover;
    text-indent: 101%;
    overflow: hidden;

    vertical-align: middle;
}

#header-search h1 span{
    display: none;
}

/* 자손
#header-center h1 {

} */

#header-search h2 {
    display: none;
    /* screen reader에도 읽히지 않음 */
}
 
#header-search fieldset{
    width: 474px;
    height: 50px;
    display: inline-block;

    margin-left: 20px;
    padding: 13px 15px;
    border: 2px solid #03cf5d; /* hex 표기법 */
    vertical-align: middle;
}

#header-search fieldset input{
    border: none;
    padding: 0;
    outline: none;
}

#header-search fieldset button{
    width: 49px;
    height: 49px;
    border: none;
    padding: 0;
    background: #03cf5d;
    

}

#search-image{
    background-image: url(./sp_search.png);
    background-position: -2px -60px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 21px;
    height: 21px;
}

/* screen reader에는 읽히나, 화면에는 표현되지 않는 blind 특성 */
.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}