<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <title>My Movie Reviews </title>
</head>
<body>
    <div class="header">
        <h1><a href="/review">my<em>Movie</em>Review</a></h1>
        {% if user.is_authenticated %}
            <a href="{% url 'review:create' %}" class="top-menu"><i class="fas fa-plus"></i></a>
        {% endif %}
    </div>
    <div class="content container">
        {% block content %}
        {% endblock %}
    </div>


</body>
</html>