{% extends 'base.html' %}

{% block content %}
<form action="/review/create/" method = "POST">
    {% csrf_token %}
    <div>
        <label for="title">제목</label><br/>
        <input type ="text" name="title", id="title" />
    </div>
    <div>
        <label for="year">개봉년도</label><br/>
        <input type ="text" name="year", id="year" />
    </div>
    <div>
        <label for="genre">장르</label><br/>
        <input type ="text" name="genre", id="genre" />
    </div>
    <div>
        <label for="rate">별점</label><br/>
        <input type ="text" name="rate", id="rate" />
    </div>
    <div>
        <label for="time">러닝타임</label><br/>
        <input type ="text" name="time", id="time" />
    </div>
    <div>
        <label for="content">리뷰</label><br/>
        <textarea name="content", id="content" rows="5"></textarea>>
    </div>
    <div>
        <label for="director">감독</label><br/>
        <input type ="text" name="director", id="director" />
    </div>
    <div>
        <label for="actor">배우</label><br/>
        <input type ="text" name="actor", id="actor" />
    </div>
    <input type="submit" value="저장하기" />
</form>
{% endblock %}