{% extends 'base.html' %}

{% block content %}
    <h1>{{review.title}}</h1>
    <div class="detail">
        <h4>개봉년도: {{review.year}}</h4>
        <h4>감독: {{review.director}}</h4>
        <h4>장르: {{review.genre}}</h4>
        <h4>별정: {{review.rate}}</h4>
        <h4>러닝타임: {{review.time}}</h4>
    </div>
    <div class="content">
        {{review.content}}
    </div>
    <div class="btns">
        <a href="{% url 'review:update' review.id %}">수정하기</a>
        <a href="{% url 'review:delete' review.id %}">삭제하기</a>
    </div>

{% endblock %}